:root {
  --el-menu-bg-color: #1e1e1e;
  --el-menu-text-color: #c0c0c0;
  --el-menu-active-colot: #4a90e2;
  --el-menu-hover-bg-color: #37474f;
}

.aside {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #1e1e1e;
}

.menu-text {
  font-size: 1.6rem;
}
