@import '@/styles/variables';

:root {
  --el-menu-bg-color: #f6f7f8;
  --el-menu-text-color: #1a1b1c;
  --el-menu-active-colot: #4a90e2;
  --el-menu-hover-bg-color: #eeeff0;
}

.aside {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $primary-background-color;
}

.menu-text {
  font-size: 1.6rem;
}
